{% extends "layout.html" %}

{% block content %}

    {% for message in get_flashed_messages(category_filter=["error"]) %}
        <h3 style="color: red">{{ message }}</h3>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["ok"]) %}
        <h3 style="color: green">{{ message }}</h3>
    {% endfor %}

    <form role="form" method="post" class="col-lg-6 col-md-offset-3">
        <div class="form-group">
            <label for="user_name">用户名</label>
            <input type="text" id="user_name" name="user_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="user_pwd">用户密码</label>
            <input type="password" id="user_pwd" name="user_psw" class="form-control">
        </div>
        <div class="form-group">
            <label for="user_email">用户邮箱</label>
            <input type="email" id="user_email" name="user_email" class="form-control">
        </div>
        <div class="form-group">
            <label for="user_age">用户年龄</label>
            <input type="number" id="user_age" name="user_age" class="form-control">
        </div>
        <div class="form-group">
            <label for="user_birthday">用户生日</label>
            <input type="date" id="user_birthday" name="user_birthday" class="form-control">
        </div>
        <div class="form-group">
            <label for="user_face">用户头像</label>
            <input type="file" id="user_face" name="user_face" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="bnt bnt-success" value="注册">
        </div>
    </form>

{% endblock %}


{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#nav-5").addClass("active")
            }
        );
    </script>
{% endblock %}
