{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron" style="padding: 5px 20px">
        <h2>{{ session.get("user_name") }}的个人中心</h2>
    </div>

    <div>
        {% include "user_menu.html" %}
        <div class="col-md-10">
            <div class="jumbotron" style="padding-top: 10px">
                <h2>修改密码</h2>
                <hr/>
                {% for message in get_flashed_messages(category_filter=["error"]) %}
                    <h3 style="color: red">{{ message }}</h3>
                {% endfor %}
                {% for message in get_flashed_messages(category_filter=["ok"]) %}
                    <h3 style="color: green">{{ message }}</h3>
                {% endfor %}
                <form role="form" method="post">
                    <div class="form-group">
                        <label for="old_psw">旧密码</label>
                        <input type="password" id="old_psw" name="old_psw" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="new_psw">新密码</label>
                        <input type="password" id="new_psw" name="new_psw" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="bnt bnt-success" value="修改">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#item-2").addClass("list-group-item-success")
            }
        );
    </script>
{% endblock %}

