{% extends "layout.html" %}

{% block content %}

    {% for message in get_flashed_messages(category_filter=["error"]) %}
        <h3 style="color: red">{{ message }}</h3>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["ok"]) %}
        <h3 style="color: green">{{ message }}</h3>
    {% endfor %}

    <form role="form" method="post" class="col-lg-6 col-md-offset-3">
        <div class="form-group">
            {{ form.user_name.label }}
            {{ form.user_name(value=request.args.username) }}
            {% for err in form.user_name.errors %}
                <p style="color: red">{{ err }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.user_psw.label }}
            {{ form.user_psw }}
            {% for err in form.user_psw.errors %}
                <p style="color: red">{{ err }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.csrf_token }}
            {{ form.submit }}
        </div>
    </form>

{% endblock %}


{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#nav-4").addClass("active")
            }
        );
    </script>
{% endblock %}
