<div class="col-md-2">
    <ul class="list-group" style="font-size: larger; text-align: center">
        <li id="item-1" class="list-group-item">
            <a href="{{ url_for("user_detail") }}">我的个人资料</a>
        </li>
        <li id="item-2" class="list-group-item">
            <a href="{{ url_for("user_psw") }}">修改个人密码</a>
        </li>
        <li id="item-3" class="list-group-item">
            <a href="{{ url_for("user_info") }}">修改个人资料</a>
        </li>
        <li id="item-4" class="list-group-item">
            <a href="{{ url_for("user_del") }}">注销个人账号</a>
        </li>
        <li id="item-5" class="list-group-item">我上传的相册</li>
        <li id="item-6" class="list-group-item">我收藏的相册</li>
        <li id="item-7" class="list-group-item">我关注的用户</li>
        <li id="item-8" class="list-group-item">关注我的用户</li>
    </ul>
</div>